.t-body {
  margin: 0px;
}
#allrecords {
  -webkit-font-smoothing: antialiased;
  background-color: none;
}
#allrecords a {
  color: #ff8562;
  text-decoration: none;
}
#allrecords a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
#allrecords ol {
  padding-left: 22px;
}
#allrecords ul {
  padding-left: 20px;
}
@media print {
  body,
  html {
    min-width: 1200px;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
    border: none;
  }
}
.t-text {
  font-family: 'Lato', serif;
  font-weight: 300;
  color: #000000;
}
.t-text_xs {
  font-size: 15px;
  line-height: 1.55;
}
.t-text_sm {
  font-size: 18px;
  line-height: 1.55;
}
.t-text_md {
  font-size: 20px;
  line-height: 1.55;
}
.t-text_lg {
  font-size: 22px;
  line-height: 1.55;
}
.t-text_weight_plus {
  font-weight: 400;
}
.t-text-impact {
  font-family: 'Lato', serif;
  font-weight: 300;
  color: #000000;
}
.t-text-impact_xs {
  font-size: 26px;
  line-height: 1.50;
}
.t-text-impact_sm {
  font-size: 32px;
  line-height: 1.35;
}
.t-text-impact_md {
  font-size: 38px;
  line-height: 1.35;
}
.t-text-impact_lg {
  font-size: 42px;
  line-height: 1.23;
}
.t-name {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-name_xs {
  font-size: 16px;
  line-height: 1.35;
}
.t-name_sm {
  font-size: 18px;
  line-height: 1.35;
}
.t-name_md {
  font-size: 20px;
  line-height: 1.35;
}
.t-name_lg {
  font-size: 22px;
  line-height: 1.35;
}
.t-name_xl {
  font-size: 24px;
  line-height: 1.35;
}
.t-heading {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-heading_xs {
  font-size: 26px;
  line-height: 1.23;
}
.t-heading_sm {
  font-size: 28px;
  line-height: 1.17;
}
.t-heading_md {
  font-size: 30px;
  line-height: 1.17;
}
.t-heading_lg {
  font-size: 32px;
  line-height: 1.17;
}
.t-title {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #000000;
}
.t-title_xxs {
  font-size: 36px;
  line-height: 1.23;
}
.t-title_xs {
  font-size: 42px;
  line-height: 1.23;
}
.t-title_sm {
  font-size: 48px;
  line-height: 1.23;
}
.t-title_md {
  font-size: 52px;
  line-height: 1.23;
}
.t-title_lg {
  font-size: 64px;
  line-height: 1.23;
}
.t-title_xl {
  font-size: 72px;
  line-height: 1.17;
}
.t-title_xxl {
  font-size: 82px;
  line-height: 1.17;
}
.t-descr {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #000000;
}
.t-descr_xxs {
  font-size: 14px;
  line-height: 1.55;
}
.t-descr_xs {
  font-size: 16px;
  line-height: 1.55;
}
.t-descr_sm {
  font-size: 18px;
  line-height: 1.55;
}
.t-descr_md {
  font-size: 20px;
  line-height: 1.55;
}
.t-descr_lg {
  font-size: 22px;
  line-height: 1.55;
}
.t-descr_xl {
  font-size: 24px;
  line-height: 1.50;
}
.t-descr_xxl {
  font-size: 26px;
  line-height: 1.45;
}
.t-descr_xxxl {
  font-size: 30px;
  line-height: 1.45;
  letter-spacing: 0.45;
}
.t-uptitle {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  color: #000000;
  letter-spacing: 2.5px;
}
.t-uptitle_xs {
  font-size: 12px;
}
.t-uptitle_sm {
  font-size: 14px;
}
.t-uptitle_md {
  font-size: 16px;
}
.t-uptitle_lg {
  font-size: 18px;
}
.t-uptitle_xl {
  font-size: 20px;
  letter-spacing: 2px;
}
.t-uptitle_xxl {
  font-size: 22px;
  letter-spacing: 2px;
}
.t-uptitle_xxxl {
  font-size: 24px;
  letter-spacing: 2px;
}
@media screen and (max-width: 1200px) {
  .t-text_xs {
    font-size: 14px;
  }
  .t-text_sm {
    font-size: 16px;
  }
  .t-text_md {
    font-size: 18px;
  }
  .t-text_lg {
    font-size: 20px;
  }
  .t-text-impact_md {
    font-size: 30px;
  }
  .t-descr_xxs {
    font-size: 12px;
  }
  .t-descr_xs {
    font-size: 14px;
  }
  .t-descr_sm {
    font-size: 16px;
  }
  .t-descr_md {
    font-size: 18px;
  }
  .t-descr_lg {
    font-size: 20px;
  }
  .t-descr_xl {
    font-size: 22px;
  }
  .t-descr_xxl {
    font-size: 22px;
  }
  .t-descr_xxxl {
    font-size: 26px;
  }
  .t-uptitle_md {
    font-size: 14px;
  }
  .t-uptitle_lg {
    font-size: 16px;
  }
  .t-uptitle_xl {
    font-size: 18px;
  }
  .t-uptitle_xxl {
    font-size: 20px;
  }
  .t-uptitle_xxxl {
    font-size: 22px;
  }
  .t-title_xxs {
    font-size: 32px;
  }
  .t-title_xs {
    font-size: 38px;
  }
  .t-title_sm {
    font-size: 44px;
  }
  .t-title_md {
    font-size: 48px;
  }
  .t-title_lg {
    font-size: 60px;
  }
  .t-title_xl {
    font-size: 68px;
  }
  .t-title_xxl {
    font-size: 78px;
  }
  .t-name_xs {
    font-size: 14px;
  }
  .t-name_sm {
    font-size: 16px;
  }
  .t-name_md {
    font-size: 18px;
  }
  .t-name_lg {
    font-size: 20px;
  }
  .t-name_xl {
    font-size: 22px;
  }
  .t-heading_xs {
    font-size: 24px;
  }
  .t-heading_sm {
    font-size: 26px;
  }
  .t-heading_md {
    font-size: 28px;
  }
  .t-heading_lg {
    font-size: 30px;
  }
}
@media screen and (max-width: 640px) {
  .t-text_xs {
    font-size: 12px;
    line-height: 1.45;
  }
  .t-text_sm {
    font-size: 14px;
    line-height: 1.45;
  }
  .t-text_md {
    font-size: 16px;
    line-height: 1.45;
  }
  .t-text_lg {
    font-size: 18px;
    line-height: 1.45;
  }
  .t-text-impact_sm {
    font-size: 22px;
  }
  .t-text-impact_md {
    font-size: 26px;
  }
  .t-text-impact_lg {
    font-size: 28px;
  }
  .t-descr_xs {
    font-size: 12px;
    line-height: 1.45;
  }
  .t-descr_sm {
    font-size: 14px;
    line-height: 1.45;
  }
  .t-descr_md {
    font-size: 16px;
    line-height: 1.45;
  }
  .t-descr_lg {
    font-size: 18px;
    line-height: 1.45;
  }
  .t-descr_xl {
    font-size: 20px;
    line-height: 1.40;
  }
  .t-descr_xxl {
    font-size: 20px;
  }
  .t-descr_xxxl {
    font-size: 22px;
  }
  .t-uptitle_xs {
    font-size: 10px;
  }
  .t-uptitle_sm {
    font-size: 10px;
  }
  .t-uptitle_md {
    font-size: 12px;
  }
  .t-uptitle_lg {
    font-size: 14px;
  }
  .t-uptitle_xl {
    font-size: 16px;
  }
  .t-uptitle_xxl {
    font-size: 18px;
  }
  .t-uptitle_xxxl {
    font-size: 20px;
  }
  .t-title_xxs {
    font-size: 28px;
  }
  .t-title_xs {
    font-size: 30px;
  }
  .t-title_sm {
    font-size: 30px;
  }
  .t-title_md {
    font-size: 30px;
  }
  .t-title_lg {
    font-size: 30px;
  }
  .t-title_xl {
    font-size: 32px;
  }
  .t-title_xxl {
    font-size: 36px;
  }
  .t-name_xs {
    font-size: 12px;
  }
  .t-name_sm {
    font-size: 14px;
  }
  .t-name_md {
    font-size: 16px;
  }
  .t-name_lg {
    font-size: 18px;
  }
  .t-name_xl {
    font-size: 20px;
  }
  .t-heading_xs {
    font-size: 22px;
  }
  .t-heading_sm {
    font-size: 24px;
  }
  .t-heading_md {
    font-size: 24px;
  }
  .t-heading_lg {
    font-size: 26px;
  }
}
@media screen and (max-width: 480px) {
  .t-title_xl {
    font-size: 30px;
  }
  .t-title_xxl {
    font-size: 30px;
  }
}
.t-records {
  -webkit-font_smoothing: antialiased;
  background-color: none;
}
.t-records a {
  color: #ff8562;
  text-decoration: none;
}
.t-records a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
.t-records ol {
  padding-left: 22px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.t-records ul {
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.t-cover {
  height: 700px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}
.t-cover__carrier {
  height: 700px;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  vertical-align: middle;
  position: relative;
  background-attachment: fixed;
}
@media screen and (max-device-width: 1024px) {
  .t-cover {
    background-attachment: scroll;
  }
  .t-cover__carrier {
    background-attachment: scroll;
  }
}
@media print {
  .t-cover {
    background-attachment: scroll;
  }
  .t-cover__carrier {
    background-attachment: scroll;
  }
}
.t-cover__filter {
  height: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.t-cover .t-container,
.t-cover .t-container_100,
.t-cover .t-container_10,
.t-cover .t-container_8 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.t-cover__wrapper {
  height: 700px;
  display: table-cell;
  width: 1200px;
}
.t-cover__wrapper span.space {
  display: inline-block;
  height: 100%;
  width: 1px;
}
@media screen and (max-width: 640px) {
  .t-cover {
    height: 400px;
    background-attachment: fixed;
  }
  .t-cover__carrier {
    background-attachment: scroll !important;
    background-size: cover;
    background-position: center center;
  }
  .t-cover__filter {
    height: 400px;
  }
  .t-cover__wrapper {
    height: 400px;
  }
}
@-webkit-keyframes t-arrow-bottom {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes t-arrow-bottom {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  55% {
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.t-cover__arrow-wrapper_animated {
  animation: t-arrow-bottom 1.7s infinite ease;
}
.t-cover__arrow {
  position: absolute;
  z-index: 9;
  bottom: 40px;
  right: 0;
  left: 0;
  text-align: center;
}
.t-cover__arrow-wrapper {
  display: inline-block;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.t-cover__arrow-wrapper:hover {
  opacity: .7;
}
.t-cover__arrow-svg {
  fill: #fff;
}
@media screen and (max-width: 640px) {
  .t-cover__arrow_mobile {
    -moz-transform: scale(.7);
    -ms-transform: scale(.7);
    -webkit-transform: scale(.7);
    -o-transform: scale(.7);
    transform: scale(.7);
  }
  .t-cover__arrow {
    bottom: 14px;
  }
}
.t-btn {
  display: inline-block;
  font-family: 'Lato', sans-serif;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: bold;
  background-image: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.t-btn td {
  vertical-align: middle;
}
@media screen and (max-width: 640px) {
  .t-btn {
    white-space: normal;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.t-submit {
  font-family: 'Lato', sans-serif;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 60px;
  -webkit-appearance: none;
  font-weight: bold;
  white-space: nowrap;
  background-image: none;
  cursor: pointer;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  .t-submit {
    white-space: normal;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.t-input {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  height: 60px;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 1.33;
  width: 100%;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.t-input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
@media screen and (max-width: 1200px) {
  .t-screenmin-1200px {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .t-screenmin-980px {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .t-screenmin-640px {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .t-screenmin-480px {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .t-screenmin-320px {
    display: none;
  }
}
@media screen and (min-width: 321px) {
  .t-screenmax-320px {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  .t-screenmax-480px {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .t-screenmax-640px {
    display: none;
  }
}
@media screen and (min-width: 981px) {
  .t-screenmax-980px {
    display: none;
  }
}
@media screen and (min-width: 1201px) {
  .t-screenmax-1200px {
    display: none;
  }
}
.t-hidden {
  display: none;
}
.t-opacity_50 {
  filter: alpha(opacity=50);
  KHTMLOpacity: 0.50;
  MozOpacity: 0.50;
  opacity: 0.50;
}
.t-opacity_70 {
  filter: alpha(opacity=70);
  KHTMLOpacity: 0.70;
  MozOpacity: 0.70;
  opacity: 0.70;
}
.t-uppercase {
  text-transform: uppercase;
}
.t-align_center {
  text-align: center;
}
.t-align_left {
  text-align: left;
}
.t-align_right {
  text-align: right;
}
.t-margin_auto {
  margin: 0 auto;
}
.t-valign_middle {
  vertical-align: middle;
}
.t-valign_top {
  vertical-align: top;
}
.t-valign_bottom {
  vertical-align: bottom;
}
.yashare-style .b-share-btn__facebook,
.yashare-style .b-share-btn__twitter,
.yashare-style .b-share-btn__vkontakte {
  background-color: transparent !important;
}
.yashare-style .b-share__link {
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
}
.yashare-style-black-white .b-share-btn__wrap {
  background-color: #000 !important;
  padding: 5px !important;
}
.yashare-style-transp-white .b-share-btn__wrap {
  padding: 5px !important;
}
.yashare-style-transp-white .b-share-counter {
  color: #fff;
  font-weight: bold;
}
.yashare-style-white-black .b-share-btn__wrap {
  background-color: #fff !important;
  padding: 5px !important;
}
.yashare-style-white-black .b-share-icon {
  background-image: url("https://tilda.ws/img/b-share_counter_large_white.png") !important;
}
.yashare-style-transp-black .b-share-btn__wrap {
  padding: 5px !important;
}
.yashare-style-transp-black .b-share-icon {
  background-image: url("https://tilda.ws/img/b-share_counter_large_white.png") !important;
}
.yashare-style-transp-black .b-share-counter {
  color: #000;
  font-weight: bold;
}
.ya-share2 ul {
  padding-left: 0px !important;
}
.carousel {
  position: relative;
}
.carousel ol {
  padding-left: 0px !important;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  line-height: 1;
}
.carousel-inner .widthauto {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.carousel-control.right {
  right: 0;
  left: auto;
}
.carousel-control .carousel-control-left {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  left: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls.png) no-repeat;
}
.carousel-control .carousel-control-left-white {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  left: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls_white.png) no-repeat;
}
.carousel-control .carousel-control-right {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  right: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls.png) no-repeat;
  background-position: left bottom;
}
.carousel-control .carousel-control-right-white {
  position: absolute;
  top: 48%;
  z-index: 5;
  display: inline-block;
  right: 20%;
  height: 34px;
  width: 21px;
  background: url(//tilda.ws/img/aboutSliderControls_white.png) no-repeat;
  background-position: left bottom;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators.dotsbottom {
  bottom: -60px;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  margin-left: 5px;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000000;
  border: none;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 0;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: transparent;
}
.carousel-indicators li.white {
  background-color: #fff;
}
.carousel-indicators li.white.active {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: transparent;
}
.carousel-caption-imgs h6 {
  font-family: 'Lato', serif;
  color: #000000;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  padding-top: 28px;
  padding-bottom: 0px;
  text-align: center;
}
.carousel-caption-imgs p {
  font-family: 'Lato', serif;
  color: #000000;
  font-size: 14px;
  line-height: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
.carousel-title {
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 28px;
  padding-top: 36px;
  padding-bottom: 14px;
  text-align: center;
}
.carousel-descr {
  font-family: 'Lato', serif;
  color: #000000;
  font-size: 14px;
  line-height: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 20px;
  }
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 960px) {
  .carousel-control .carousel-control-left {
    left: 10%;
  }
  .carousel-control .carousel-control-left-white {
    left: 10%;
  }
  .carousel-control .carousel-control-right {
    right: 10%;
  }
  .carousel-control .carousel-control-right-white {
    right: 10%;
  }
}
.t-tildalabel {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 70px;
  font-family: Arial;
  font-size: 14px;
}
.t-tildalabel:hover .t-tildalabel__wrapper {
  opacity: 1;
}
.t-tildalabel_white {
  background-color: #fff;
  color: #000;
}
.t-tildalabel_gray {
  background-color: #eee;
  color: #000;
}
.t-tildalabel__wrapper {
  display: table;
  height: 30px;
  width: 270px;
  margin: 0 auto;
  padding-top: 20px;
  opacity: 0.4;
}
.t-tildalabel__txtleft {
  display: table-cell;
  width: 120px;
  height: 30px;
  vertical-align: middle;
  text-align: right;
  padding-right: 12px;
  font-weight: 300;
  font-size: 12px;
}
.t-tildalabel__wrapimg {
  display: table-cell;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.t-tildalabel__img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.t-tildalabel__txtright {
  display: table-cell;
  width: 120px;
  height: 30px;
  vertical-align: middle;
  padding-left: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}
.t-tildalabel__link {
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}
.t-tildalabel_white .t-tildalabel__link,
.t-tildalabel_gray .t-tildalabel__link {
  color: #000;
}
.t-carousel {
  position: relative;
}
.t-carousel__inner {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.t-carousel__slides {
  position: relative;
}
.t-carousel__inner > .t-carousel__item {
  position: relative;
  display: none;
  -webkit-transition: 0 ease-in-out left;
  -moz-transition: 0 ease-in-out left;
  -o-transition: 0 ease-in-out left;
  transition: 0 ease-in-out left;
}
.t-carousel__inner > .t-carousel__item.t-carousel__animation_fast {
  -webkit-transition: .3s ease-in-out left;
  -moz-transition: .3s ease-in-out left;
  -o-transition: .3s ease-in-out left;
  transition: .3s ease-in-out left;
}
.t-carousel__inner > .t-carousel__item.t-carousel__animation_slow {
  -webkit-transition: .6s ease-in-out left;
  -moz-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.t-carousel__item__wrapper {
  position: relative;
  margin: 0 auto;
}
.t-carousel__item__img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.t-carousel_cover .t-carousel__item__img {
  background-size: cover;
}
.t-carousel__inner > .active,
.t-carousel__inner > .next,
.t-carousel__inner > .prev {
  display: block;
}
.t-carousel__inner > .active {
  left: 0;
}
.t-carousel__inner > .next,
.t-carousel__inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.t-carousel__inner > .next {
  left: 100%;
}
.t-carousel__inner > .prev {
  left: -100%;
}
.t-carousel__inner > .next.left,
.t-carousel__inner > .prev.right {
  left: 0;
}
.t-carousel__inner > .active.left {
  left: -100%;
}
.t-carousel__inner > .active.right {
  left: 100%;
}
.t-carousel__arrows__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=',sizingMethod='scale');
  background: none !important;
}
.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_left {
  left: 16px;
}
.t-carousel__arrow_outsidesmall .t-carousel__arrow__wrapper_right {
  right: 16px;
}
.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_left {
  left: 20px;
}
.t-carousel__arrow_outsidemiddle .t-carousel__arrow__wrapper_right {
  right: 20px;
}
.t-carousel__control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  pointer-events: auto;
}
.t-carousel__control:hover {
  opacity: .6;
}
.t-carousel__arrow {
  width: 34px;
  height: 34px;
  background: transparent;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t-carousel__arrow.t-carousel__arrow_small {
  width: 20px;
  height: 20px;
}
.t-carousel__arrow.t-carousel__arrow_large {
  width: 54px;
  height: 54px;
}
.t-carousel__arrow__wrapper {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}
.t-carousel__arrow__wrapper_left {
  left: 30px;
}
.t-carousel__arrow__wrapper_right {
  right: 30px;
}
.t-carousel__arrow_right {
  border-top: 3px solid;
  border-right: 3px solid;
}
.t-carousel__arrow_right.t-carousel__arrow_light {
  border-top: 1px solid;
  border-right: 1px solid;
}
.t-carousel__arrow_right.t-carousel__arrow_bold {
  border-top: 6px solid;
  border-right: 6px solid;
}
.t-carousel__arrow_left {
  border-left: 3px solid;
  border-bottom: 3px solid;
}
.t-carousel__arrow_left.t-carousel__arrow_light {
  border-left: 1px solid;
  border-bottom: 1px solid;
}
.t-carousel__arrow_left.t-carousel__arrow_bold {
  border-left: 6px solid;
  border-bottom: 6px solid;
}
.t-carousel__control.right {
  right: 0;
  left: auto;
}
@media screen and (max-width: 768px) {
  .t-carousel__control .t-carousel__arrow {
    width: 12px;
    height: 12px;
  }
  .t-carousel-control {
    width: 10%;
  }
  .t-carousel__arrow__left {
    left: 15px;
  }
  .t-carousel__arrow__right {
    right: 15px;
  }
}
.t-carousel__indicators.carousel-indicators {
  z-index: 15;
  text-align: center;
  list-style: none;
  position: relative;
  padding-left: 0 !important;
  margin: 0 auto;
  padding: 20px 0;
  bottom: auto;
  left: auto;
}
.t-carousel__indicators.t-carousel__indicators_light {
  padding: 15px 0 18px;
}
.t-carousel__indicators.t-carousel__indicators_bold {
  padding: 24px 0 21px;
}
.t-carousel__indicators .t-carousel__indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #222;
  border: none;
  border-radius: 10px;
  opacity: .4;
  -webkit-transition: .2s ease-in-out opacity;
  -moz-transition: .2s ease-in-out opacity;
  -o-transition: .2s ease-in-out opacity;
  transition: .2s ease-in-out opacity;
}
@media screen and (max-width: 640px) {
  .t-carousel__indicators.carousel-indicators,
  .t-carousel__indicators.t-carousel__indicators_light,
  .t-carousel__indicators.t-carousel__indicators_bold {
    padding: 15px 0;
  }
}
.t-carousel__indicators.t-carousel__indicators_light .t-carousel__indicator {
  width: 4px;
  height: 4px;
  margin: 0 5px;
}
.t-carousel__indicators.t-carousel__indicators_bold .t-carousel__indicator {
  width: 10px;
  height: 10px;
  margin: 0 6px;
}
.t-carousel__indicators .t-carousel__indicator:hover {
  opacity: .8;
}
.t-carousel__indicators .t-carousel__indicator.active {
  opacity: 1;
}
.t-carousel__indicators.t-carousel__indicators_inside {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.t-carousel__caption-inside {
  display: none;
}
.t-carousel__caption_wrapper {
  border-top: 1px solid #eee;
  padding: 14px 0;
}
.t-carousel__descr {
  margin-top: 5px;
  color: #777;
}
.t-zoomer__show_fixed {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.t-zoomer__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}
.t-zoomer__show .t-zoomer__wrapper {
  z-index: 9999999;
  opacity: 1;
}
.t-zoomer__container {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.t-zoomer__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.t-zoomer__comments {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: auto;
}
.t-zoomer__descr {
  z-index: 3;
  text-align: center;
  padding: 14px 20px 0;
  background: transparent;
  max-width: 800px;
  margin: 0 auto;
}
.t-zoomable {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.t-zoomer__show .t-zoomable,
.t-zoomer__show .t-carousel__zoomer__img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.t-zoomer__container {
  z-index: 99999999;
}
#t-carousel__zoomed,
.t-carousel__zoomer__slides,
.t-carousel__zoomer__inner,
.t-carousel__zoomer__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.t-carousel__zoomer__inner {
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
}
.t-carousel__zoomer__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  overflow: auto;
}
.t-carousel__zoomer__item {
  height: 100%;
}
.t-zoomer__close {
  position: fixed;
  right: 10px;
  top: 12px;
  width: 29px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 999999999999;
}
.t-zoomer__close:hover {
  opacity: .7;
}
.t-zoomer__close-line {
  position: absolute;
  left: 15px;
  height: 26px;
  width: 2px;
  background-color: #222;
}
.t-zoomer__close-line-first {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t-zoomer__close-line-second {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.t-carousel__zoomer__control .t-carousel__arrow {
  border-color: #222;
  border-width: 2px;
}
.t-carousel__zoomer__control .t-carousel__arrow__wrapper_right {
  right: 19px;
}
.t-carousel__zoomer__control .t-carousel__arrow__wrapper_left {
  left: 19px;
}
@font-face {
  font-family: 'Lato';
  src: url('https://static.tildacdn.com/tild6334-3161-4433-b838-373838636462/LatoLight.woff') format('woff');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: 'Lato';
  src: url('https://static.tildacdn.com/tild6439-3031-4435-a638-663362666662/LatoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('https://static.tildacdn.com/tild3266-6134-4461-a639-313564616132/LatoRegular.woff') format('woff');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'Lato';
  src: url('https://static.tildacdn.com/tild6264-3765-4538-b130-393632663836/LatoRegular.woff') format('woff');
  font-weight: 600;
  font-style: semi-bold;
}
@font-face {
  font-family: 'Lato';
  src: url('https://static.tildacdn.com/tild3735-3931-4431-a161-303334633966/LatoBold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}
.t107 {
  text-align: center;
}
.t107__width {
  vertical-align: middle;
}
.t107__widthauto {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.t107__title {
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 28px;
}
.t015__title {
  padding-top: 8px;
  padding-bottom: 3px;
}
.t015__uptitle {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 40px;
}
.t015__descr {
  padding: 41px 0px 0px 0px;
}
.t017__uptitle {
  padding-top: 3px;
  padding-bottom: 22px;
}
.t017__title {
  padding-top: 2px;
  padding-bottom: 0px;
}
.t017__descr {
  padding-top: 21px;
}
.t030__title {
  margin-bottom: 15px;
}
.t030__descr {
  margin-top: 8px;
  padding-bottom: 6px;
}
.t032__wrapper {
  padding-top: 42px;
  padding-bottom: 42px;
}
.t032__title {
  color: #fff;
  margin-bottom: 50px;
}
.t032__line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.t032__descr {
  color: #fff;
  margin-top: 43px;
  padding: 0 50px;
  margin-bottom: 0;
}
@media screen and (max-width: 960px) {
  .t032__line {
    max-width: 160px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px) {
  .t032 .t-cover__wrapper {
    display: block;
    width: 100%;
  }
  .t032__title {
    padding: 0 10px;
  }
  .t032__descr {
    padding: 0 10px;
  }
}
.t056__title {
  padding-top: 8px;
  padding-bottom: 9px;
}
.t056__descr {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  padding-top: 22px;
  padding-bottom: 5px;
}
.t073__tablewrapper {
  display: table;
  width: 100%;
}
.t073__circlewrapper {
  display: table-cell;
  vertical-align: top;
}
.t073__textwrapper {
  display: table-cell;
  vertical-align: top;
  padding-left: 20px;
  width: 100%;
}
.t073__title {
  font-size: 16px;
  line-height: 25px;
  margin: 0px;
  padding-bottom: 13px;
}
.t073__blockdescr {
  font-size: 16px;
}
.t073__circle {
  background-color: #ccc;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 640px) {
  .t073__blockdescr {
    margin-bottom: 20px;
  }
}
.t118 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.t118__line {
  height: 1px;
  background-color: #000000;
  border: none;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.t119__preface {
  font-size: 30px;
  line-height: 1.35;
  margin-top: -1px;
}
@media screen and (max-width: 640px) {
  .t119__preface {
    font-size: 22px;
  }
}
.t134 {
  text-align: center;
}
.t134__img {
  max-width: 300px;
}
.t134__title {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 9px;
  color: #000000;
}
.t134__descr {
  font-size: 14px;
  color: #000000;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
  font-family: 'Lato', serif;
  padding-top: 22px;
  padding-bottom: 6px;
  filter: alpha(opacity=70);
  KHTMLOpacity: 0.70;
  MozOpacity: 0.70;
  opacity: 0.70;
}
.t134 a {
  color: #000000;
}
.t135__img {
  max-width: 100%;
}
@media screen and (max-width: 640px) {
  .t135 {
    position: relative !important;
    text-align: center;
    padding: 30px;
    top: 0px !important;
    right: 0px !important;
    left: 0px !important;
    z-index: 1 !important;
  }
}
.t145__title {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-right: 20px;
}
.t145__line {
  margin-top: 14px;
  margin-bottom: 14px;
  border: 0;
  border-top: 3px solid #000000;
  margin-right: 20px;
}
.t145__text {
  padding-top: 4px;
  padding-bottom: 6px;
  font-size: 16px;
  line-height: 25px;
  margin-right: 20px;
}
@media screen and (max-width: 960px) {
  .t145 .t145__col {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.t165 .t-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.t165__vmiddle {
  margin-top: auto;
  margin-bottom: auto;
}
.t165__vtop {
  margin-bottom: auto;
}
.t165__vbottom {
  margin-top: auto;
}
.t165__left {
  text-align: left;
}
.t165__center {
  text-align: center;
}
.t165__right {
  text-align: right;
}
.t165__textwrapper {
  padding-right: 20px;
}
.t165__uptitle {
  padding: 0px;
  margin: 0px;
  margin-bottom: 14px;
}
.t165__title {
  padding: 0px;
  margin: 0px;
  padding-bottom: 28px;
}
.t165__text {
  filter: alpha(opacity=85);
  KHTMLOpacity: 0.85;
  MozOpacity: 0.85;
  opacity: 0.85;
}
.t165__img {
  float: right;
  width: 100%;
}
.t165__img_circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
@media screen and (max-width: 640px) {
  .t165 .t-container {
    display: -webkit-block;
    display: block;
  }
  .t165__text {
    margin-bottom: 40px;
  }
}
.t171 {
  position: fixed;
}
.t171__title {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 640px) {
  .t171 {
    position: relative !important;
    text-align: center;
    padding: 30px;
    top: 0px !important;
    right: 0px !important;
    left: 0px !important;
  }
}
.t005__text {
  padding-top: 8px;
  padding-bottom: 5px;
}
@media screen and (max-width: 640px) {
  .t005__text {
    margin-bottom: 20px;
  }
}
.t192__title {
  padding-top: 8px;
  padding-bottom: 6px;
  text-align: center;
}
.t192__text {
  padding-top: 4px;
  padding-bottom: 6px;
  text-align: center;
}
.t192 hr {
  margin-top: 14px;
  margin-bottom: 14px;
  border: 0;
  border-top: 1px solid #000000;
  opacity: 0.2;
}
@media screen and (max-width: 960px) {
  .t192 .t192__col {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.t195__text {
  padding-bottom: 6px;
}
.t195__imgsection {
  text-align: center;
}
.t195__img {
  padding-bottom: 10px;
  padding-top: 4px;
  max-width: 100%;
}
.t195__sectitle {
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
}
.t195__secdescr {
  font-size: 11px;
  line-height: 16px;
  padding-top: 0px;
  padding-bottom: 7px;
  text-align: left;
}
@media screen and (max-width: 960px) {
  .t195__imgsection {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .t195__imgsection {
    width: 100% !important;
  }
}
.t231 {
  text-align: center;
}
.t231__twrapper {
  display: table;
  margin: 0 auto;
}
.t231__tcoll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.t231__title {
  text-align: center;
  font-size: 22px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  white-space: nowrap;
}
@media screen and (max-width: 960px) {
  .t231__title {
    white-space: normal;
  }
}
.t278__mainwrapper {
  padding: 0 20px;
}
.t278__mainblock {
  margin: 0 auto;
}
.t278__title {
  color: #fff;
  margin-bottom: 40px;
}
.t278__descr {
  color: #fff;
  margin-bottom: 50px;
}
.t278__text {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.7;
}
.t278__input-mainblock {
  margin: 0 auto;
}
.t278__wrapper {
  display: table;
  margin: 0 auto;
}
.t278__blockinput {
  display: inline-block;
  height: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.t278__blockinput textarea {
  padding-top: 17px;
}
.t278__input {
  height: 56px;
  outline: none;
}
.t278__blockbutton {
  display: inline-block;
  height: auto;
  width: 100%;
}
.t278__submit {
  height: 56px;
  padding: 0 20px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  width: 100%;
}
.t278__submit:hover {
  opacity: .8;
}
@media screen and (max-width: 670px) {
  .t278__title {
    margin-bottom: 18px;
  }
  .t278__descr {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .t278__text {
    font-size: 10px;
  }
  .t278__blockinput {
    margin-bottom: 15px;
  }
}
.t278__blockinput-errors {
  background: #ff6666 none repeat scroll 0px 0px;
}
.t278 .js-error-control-box .t278__input {
  border: 1px solid #FF0000 !important;
}
.t278__blockinput-errors-text {
  color: #ffff77;
  box-sizing: border-box;
  padding: 0px 10px 10px 10px;
  font-family: 'Lato', serif;
}
.t278__blockinput-errors-item {
  padding-top: 10px;
  display: none;
  font-family: 'Lato', serif;
}
.t278__blockinput-errorbox {
  background: #ff6666 none repeat scroll 0px 0px;
  color: #ffff77;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lato', serif;
}
.t278__blockinput-success {
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.t278__success-message {
  color: #fff;
}
.t278 .js-send-form-success .t278__wrapper {
  display: none;
}
.t359__body_popupshowed {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}
.t359__popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  overflow-y: auto;
  padding: 0;
}
.t359__popup_show .t359__popup {
  z-index: 9999999;
  opacity: 1;
  display: block;
}
.t359__bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: .7;
}
.t359__content {
  text-align: center;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-30%) scale(.9);
  -ms-transform: translateY(-30%) scale(.9);
  -webkit-transform: translateY(-30%) scale(.9);
  -o-transform: translateY(-30%) scale(.9);
  transform: translateY(-30%) scale(.9);
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  right: 0;
  left: 0;
  opacity: 0;
  margin: 0 auto;
}
.t359__popup_show .t359__content {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  z-index: 1;
}
.t359__content.t359__content_static {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  padding-top: 80px;
  padding-bottom: 60px;
  -moz-transform: translateY(30%) scale(.9);
  -ms-transform: translateY(30%) scale(.9);
  -webkit-transform: translateY(30%) scale(.9);
  -o-transform: translateY(30%) scale(.9);
  transform: translateY(30%) scale(.9);
}
.t359__popup_show .t359__content.t359__content_static {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.t359__close {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 29px;
  height: 32px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  z-index: 9999999;
}
.t359__close:hover {
  opacity: .7;
}
.t359__close-line {
  position: absolute;
  left: 15px;
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.t359__close-line-first {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.t359__close-line-second {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.t359 .t-carousel__caption_wrapper {
  border-top: none;
  padding: 0;
}
.t359 .t-carousel__title,
.t359 .t-carousel__descr {
  color: #fff;
}
.record[off=y] .t359__popup {
  display: none;
}
.t385__content {
  position: relative;
}
.t385__textwrapper {
  background: #F7F7F7;
  padding: 30px;
}
.t385__img {
  position: absolute;
  top: 0;
  right: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-size: cover;
  margin: 0 auto;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
}
.t385__uptitle {
  letter-spacing: 0;
  color: #777;
}
.t385__descr {
  margin-top: 12px;
}
@media screen and (max-width: 960px) {
  .t385__col.t-col_3,
  .t385__col.t-col_4,
  .t385__col.t-col_6 {
    width: 100%;
    max-width: 580px;
    display: table;
    vertical-align: middle;
    margin: 0 auto 50px;
    float: none;
  }
}
.t387__img {
  width: 100px;
  height: 100px;
}
.t387__img_circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.t387__title {
  margin-top: 23px;
}
.t387__descr {
  margin-top: 20px;
}
@media screen and (max-width: 960px) {
  .t387__col {
    margin-bottom: 40px;
  }
}
.t404 .t-col_4 {
  margin-bottom: 40px;
}
.t404 a {
  text-decoration: none;
  color: #000000;
}
.t404__textwrapper {
  margin-bottom: 28px;
  margin-top: 16px;
}
.t404__paddingsmall {
  padding: 20px 30px 25px;
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
.t404__paddingbig {
  padding: 30px 40px 35px;
  background: #fff;
  margin-top: 0;
  margin-bottom: 0;
}
.t404__paddingsmall .t404__uptitle {
  margin-top: 0;
}
.t404__uptitle {
  margin-top: 12px;
  margin-bottom: 10px;
}
.t404__tag {
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #777;
}
.t404__date {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: 1px;
  color: #777;
}
.t404__title {
  margin-bottom: 12px;
}
.t404__descr {
  color: #777;
}
.t404__imgbox {
  position: relative;
}
.t404__img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.t404__separator {
  padding-top: 65%;
}
.t404__buttonwrapper {
  padding: 0 20px;
  text-align: center;
}
.t404__btn {
  font-size: 14px;
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}
.t404__col {
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .t404__col {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 960px) {
  .t404__imgbox {
    width: 50%;
    display: inline;
    float: left;
    margin-right: 20px;
  }
  .t404__withbg .t404__imgbox {
    display: table-cell;
    float: none;
    vertical-align: top;
    margin-right: 0;
  }
  .t404 .t-col_3,
  .t404 .t-col_4,
  .t404 .t-col_6 {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .t404__link:before,
  .t404__link:after {
    content: "";
    display: table;
    clear: both;
  }
  .t404__textwrapper {
    display: table;
    margin-top: 0;
  }
  .t404__withbg .t404__textwrapper {
    display: table-cell;
    float: none;
    vertical-align: top;
    margin-right: 0;
  }
  .t404 .t404__withbg {
    margin-bottom: 30px;
  }
  .t404__uptitle {
    margin-top: 0px;
  }
  .t404__link {
    display: table;
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .t404__imgbox,
  .t404__withbg .t404__imgbox,
  .t404__withbg .t404__textwrapper {
    width: 100%;
    display: block;
    float: none;
  }
  .t404__textwrapper {
    margin-top: 16px;
  }
  .t404__withbg .t404__textwrapper {
    margin-top: 0;
    box-sizing: border-box;
  }
}
.t409 {
  overflow: hidden;
}
.t409__uptitle {
  color: #888;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 15px;
}
.t409__descr {
  margin-top: 17px;
}
.t409__img {
  display: block;
  max-height: 500px;
}
.t409 .t-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.t409__flexcolumn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  display: table;
}
.t409__valign_top {
  margin-bottom: auto;
}
.t409__valign_middle {
  margin-top: auto;
  margin-bottom: auto;
}
.t409__valign_bottom {
  margin-top: auto;
}
@media screen and (max-width: 960px) {
  .t409 .t-container {
    display: -webkit-block;
    display: block;
  }
  .t409__img {
    height: auto !important;
    width: 100%;
    margin-left: 0 !important;
  }
  .t409__imgwrapper {
    margin-top: 40px;
  }
  .t409__imgwrapper_flipped {
    margin-bottom: 40px;
    margin-top: 0;
  }
}
